.header{
    

}

.header_container {
    background: linear-gradient(to right, #000000, #000000);
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #5f83de;
}
.ul {
    list-style: none;
    display: block;
    padding: 0; margin: 0;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
     background: linear-gradient(to right, #10899c, #10899c);
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #5f83de;
    list-style: none;
    
}
